<div class="mt-5 text-white text-center">
    <img src="/assets/Vector1.png" class="position-absolute top-0 start-0">
    <img src="/assets/Vector3.png" class="position-absolute top-0 end-0">
    <img class="mt-5 mb-5" src="/assets/logoTfg.png">
    <p class="mt-5 fs-4"><b>Aprende & Aprueba</b> te ayudara a aprobar este año
    de la forma mas fácil y rápida jamás vista</p>
    <p class="texto-gradiente display-6 mt-5">Somos tu mejor maestro</p>
    <p class="opacity-50 mt-5 mb-5 fs-4">Te ayudaremos a mejorar tu capacidad de aprendizaje un 200%</p>
    <button type="button" class="btn btn-primary btn-lg rounded-pill px-5 py-3 fs-1 mt-5 mb-5" routerLink="/componentes/auth/login">¡Empieza ya a ser productivo!</button>
</div>